.custom-scrollbar {
    overflow-x: auto;
    scrollbar-width: none;
    scrollbar-color: #e0e0e0 transparent;
  }
  
  .custom-scrollbar::-webkit-scrollbar {
    width: 0px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: #e0e0e0;
    border-radius: 0px;
  }
  
  .custom-scrollbar::-webkit-scrollbar-track {
    background-color: transparent;
  }